
/* Responsive CSS */

/* Mobile Devices */

@media screen and (max-width: 576px) {
    #header{
        padding: 30px 20px;
    }
    nav{
        flex-direction: column;
    }
    nav h3{
        text-align: center;
    }
    nav ul{
        margin-top: 30px;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 5px 0;

    }
    main{
        margin: 40px 20px 60px 20px;
    }

    .team-container{
        flex-direction: column-reverse;
    }
    .team-img{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .team-content{
        width: 100%;
        padding-left: 0;
        text-align: center;
        margin-bottom: 60px;
    }

    #features{
        margin: 70px 0;
    }

    .features-section{
        flex-direction: column;
    }
    .features-content, .features-img{
        width: 100%;
    }
    .info-content{
        margin-bottom: 25px;
    }

    .facts-content{
        width: 100%;
        margin-bottom: 40px;
    }

    /* Start Sponspor Section Style */

    #sponspor{
        margin-top: 60px;
    }
    .sponspor-content{
        padding: 0;
    }

    .sponspor-logo{
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }
    #footer{
        margin: 60px 0;
    }
    .footer-area{
        margin: 0 30px;
        padding: 35px 10px;
    }
}

/* Teblet or Medium Devices */

@media screen and (min-width:576px) and (max-width: 960px) {
    #header{
        padding: 40px 40px;
    }

    nav ul li{
        margin-left: 25px;
    }

    main{
        margin: 40px 40px 60px 40px;
    }
    .team-content{
        padding-left: 25px;
    }
    .team-content p{
        margin-bottom: 10px;
        margin-top: 0;
    }

    #features{
        margin: 70px 0;
    }

    .features-section{
        flex-direction: column;
    }
    .features-content, .features-img{
        width: 100%;
    }

    .facts-content{
        width: 100%;
        margin-bottom: 40px;
    }
    .info-content{
        margin-bottom: 25px;
    }

      /* Start Sponspor Section Style */

      #sponspor{
        margin-top: 60px;
    }
    .sponspor-content{
        padding: 0;
    }

    .sponspor-logo{
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }
   
    #footer{
        margin: 60px 0;
    }
    .footer-area{
        margin: 80px 30px;
        padding: 35px 10px;
    }
}

 /* End Footer Section Style*/
