
/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
}

/* Start Header Section Style */

#header{
    background: rgba(255, 144, 14, 0.10);
    padding: 35px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 75px;
}
nav ul a{
    text-decoration: none;
    color:#424242;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
}

.banner-content{
    max-width: 860px;
    margin: 60px auto 30px auto;
    text-align: center;
}
.banner-title{
    color:#131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
}
.btn-pirmary{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    border: none;
}


.banner-img img{
    width: 100%;
}

/* Start Main Section Style */

main{
    margin: 60px 240px 80px 240px;
}

/* Start Team Section Style */
.team-container{
    display: flex;
    align-items: center;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 45%;
}
.team-img img{
    width: 100%;
}
.team-content{
    width: 55%;
    padding-left: 40px;
}
.team-content h3{
    color: #131313;
    font-size: 2.81rem;
    font-weight: 700;
}
.team-content p{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 15px 0 20px 0;
}
.quick-text{
    color:#727272;
    font-weight: 500;
}
.features-span{
    color: #FF900E;
    font-weight: 700;
}


/* Start Features Section Style */


#features{
    margin: 100px 0;
}
.features-section{
    display: flex;
    gap: 4%;
}
.features-content{
    width: 49%;
}

.features-content h2{
    color:#131313;
    font-size: 2.81rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 22px;
}

.features-content> p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 15px 0;
}

.features-img{
    width: 47%;
    position: relative;
}
.features-img img{
    width: 100%;
}
.features-text{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px 20px 20px 35px;
    margin-bottom: 15px;
}
.features-text h4{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.experience{
    width: 280px;
    height: 160px;
    background-color: #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 14px;
    left: -30px;
}
.experience h2{
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 70px;
}
.experience span{
    color: #FFF;
    font-size: 1.56rem;
    font-weight: 500;
    line-height: 40px;

}

/* Start Facts Section Style */


.facts-content{
    width: 52%;
    margin-bottom: 60px;
}
.facts-content h3{
    color: #131313;
    font-size: 2.81rem;
    font-weight: 700;
}
.facts-content p{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  

}
.info-content{
    flex-basis: 220px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px 25px;
}
.info-content h4{
    color:#424242;
    font-size: 2.81rem;
    font-weight: 600;
    padding: 5px 0;
}
.info-content span{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-block;
}
.info-content img{
    width: 25%;
}


/* Start Sponspor Section Style */

#sponspor{
    margin-top: 100px;
}
.sponspor-content{
    text-align: center;
    padding: 0 230px;
}
.sponspor-content h2{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.sponspor-content p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 20px;
}
.sponspor-logo{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center;
    margin-top: 50px;
}

/* Start Footer Section Style */

#footer{
    margin: 100px 0;
}
.footer-area{
    background-color: #FFF4E7;
    padding: 35px 0;
    text-align: center;
    border-radius: 8px;
    margin: 0 240px;
}
.footer-area small{
    color: #424242;
    font-size: 20px;
    font-weight: 400;
}

 /* End Footer Section Style*/

